/*
Theme Name: STEPS
Theme URI: http://www.ansonika.com/steps/
Author: Ansonika
Author URI: http://themeforest.net/user/Ansonika/

[Table of contents] 

1. SITE STRUCTURE and TYPOGRAPHY
- 1.1 Typography
- 1.2 Buttons
- 1.3 Structure

2. CONTENT
- 2.1 Wizard
- 2.2 Success submit
- 2.3 Inner pages

3. COMMON
- 3.1 Input forms
- 3.2 Spacing

/*============================================================================================*/
/* 1.  SITE STRUCTURE and TYPOGRAPHY */
/*============================================================================================*/
/*-------- Preloader --------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #fff;
  z-index: 99999999999 !important;
}

[data-loader="circle-side"] {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-animation: circle infinite .95s linear;
  -moz-animation: circle infinite .95s linear;
  -o-animation: circle infinite .95s linear;
  animation: circle infinite .95s linear;
  border: 2px solid #1c5dab;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}

#loader_form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #fafafa;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 99999999999 !important;
  display: none;
}

[data-loader="circle-side-2"] {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-animation: circle infinite .95s linear;
  -moz-animation: circle infinite .95s linear;
  -o-animation: circle infinite .95s linear;
  animation: circle infinite .95s linear;
  border: 2px solid #1c5dab;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*-------- 1.1 Typography --------*/
/* rem reference
10px = 0.625rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
30px = 1.875rem
32px = 2rem
*/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.4;
  font-family: "Roboto Condensed", Arial, sans-serif;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

p {
  margin-bottom: 30px;
}

strong {
  font-weight: 600;
}

hr {
  margin: 30px 0 30px 0;
  border-color: #ededed;
}

.main_title {
  text-align: center;
}
.main_title h2 {
  font-size: 36px;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.main_title p {
  font-size: 21px;
  font-size: 1.3125rem;
  color: #777;
}

.question_title {
  text-align: center;
  margin-bottom: 25px;
}
.question_title h3 {
  font-size: 36px;
  font-size: 2.25rem;
  margin-top: 45px;
  color: #333;
}
.question_title p {
  font-size: 15px;
  font-size: 0.9375rem;
  color: #777;
  margin-bottom: 0;
}

a.animated_link {
  position: relative;
  text-decoration: none;
}
a.animated_link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  opacity: 1;
  left: 0;
  background-color: #0073e5;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.animated_link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a.animated_link.active {
  position: relative;
  text-decoration: none;
  color: #0073e5;
}
a.animated_link.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  opacity: 1;
  left: 0;
  background-color: #0073e5;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*General links color*/
a {
  color: #409fff;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}
a:hover, a:focus {
  color: #0073e5;
  text-decoration: none;
  outline: none;
}

/*-------- 1.2 Buttons --------*/
a.btn_1,
.btn_1 {
  border: none;
  color: #fff;
  background: #409fff;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 7px 20px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
a.btn_1:hover,
.btn_1:hover {
  background: #0073e5;
  color: #fff;
}

/*-------- 1.3 Structure --------*/
/* Header */
header {
  position: relative;
  padding: 15px 0;
  background-color: #fff;
  border-bottom: 1px solid #d9e1e6;
}

#logo_home h1 {
  margin: 0;
  padding: 0;
}
#logo_home h1 a {
  width: 237px;
  height: 35px;
  display: block;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 237px 35px;
  text-indent: -9999px;
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  #logo_home h1 a {
    background-image: url(../img/logo_2x.png);
    background-size: 237px 35px;
  }
}
#social {
  float: right;
  margin: 0 60px 0 0;
}
#social ul {
  margin: 0;
  padding: 0 0 0 0;
  text-align: center;
}
#social ul li {
  display: inline-block;
  margin: 0 5px 10px 0;
}
#social ul li a {
  color: #444;
  text-align: center;
  line-height: 35px;
  display: block;
  font-size: 16px;
  width: 25px;
  height: 25px;
  padding: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#social ul li a:hover {
  color: #0073e5 !important;
}

main {
  background: #f8f8f8 url(../img/pattern.svg) repeat;
}
main.plain {
  background: #f8f8f8;
}

/* Footer */
footer {
  border-top: 1px solid #d9e1e6;
  padding: 30px 0;
}
footer p {
  margin: 0;
  padding: 0;
  float: right;
}
@media (max-width: 991px) {
  footer p {
    float: none;
    margin-top: 15px;
  }
}
footer ul {
  float: left;
  margin: 0;
  padding: 0;
}
@media (max-width: 991px) {
  footer ul {
    float: none;
  }
}
footer ul li {
  display: inline-block;
  margin-right: 15px;
}
@media (max-width: 991px) {
  footer ul li {
    margin-bottom: 10px;
  }
}
footer ul li:after {
  content: "|";
  font-weight: 300;
  position: relative;
  left: 9px;
  color: #999;
}
footer ul li:last-child {
  margin-right: 0;
}
footer ul li:last-child:after {
  content: "";
}
footer ul li a {
  color: #555;
}
footer ul li a:hover {
  color: #0073e5;
}

/*============================================================================================*/
/* 2.  CONTENT */
/*============================================================================================*/
/*-------- 2.1 Wizard --------*/
.item label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background-color: #fff;
  padding: 45px;
  text-align: center;
  margin-bottom: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  border: 1px solid #d9e1e6;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #777;
  cursor: pointer;
}
@media (max-width: 991px) {
  .item label {
    padding: 30px;
  }
}
.item label strong {
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  color: #333;
}
.item label:hover {
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}
.item label img {
  display: block;
  margin: 0 auto 15px;
}
@media (max-width: 767px) {
  .item label img {
    width: 80px;
    height: auto;
  }
}
.item label span {
  border: 4px solid #d9e1e6;
  display: block;
  margin: 0 auto 15px;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 4px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.item label figure {
  position: relative;
  width: 114px;
  height: 114px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin: 0;
  overflow: hidden;
}
.item label figure img {
  width: 130px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.item input[type=checkbox]:not(old),
.item input[type=radio]:not(old) {
  visibility: hidden;
}
.item input[type=checkbox]:not(old):checked + label,
.item input[type=radio]:not(old):checked + label,
.item input[type=checkbox]:not(old):checked + span + label,
.item input[type=radio]:not(old):checked + span + label {
  display: block;
  border: 1px solid #acd373;
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0;
}
.item input[type=checkbox]:not(old):checked + label:before,
.item input[type=radio]:not(old):checked + label:before,
.item input[type=checkbox]:not(old):checked + span + label:before,
.item input[type=radio]:not(old):checked + span + label:before {
  font-family: "fontello";
  content: "\e81b";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #acd373;
}
.item input[type=checkbox]:not(old):checked + label span,
.item input[type=radio]:not(old):checked + label span,
.item input[type=checkbox]:not(old):checked + span + label span,
.item input[type=radio]:not(old):checked + span + label span {
  border: 4px solid #acd373;
}
.item input[type=checkbox]:not(old):checked + label figure img,
.item input[type=radio]:not(old):checked + label figure img,
.item input[type=checkbox]:not(old):checked + span + label figure img,
.item input[type=radio]:not(old):checked + span + label figure img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  -moz-transform: translate(-50%, -50%) scale(1.2);
  -ms-transform: translate(-50%, -50%) scale(1.2);
  -o-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}

.checkbox_questions {
  position: relative;
}
.checkbox_questions span.error {
  left: -5px;
  top: -35px;
}
.checkbox_questions .icheckbox_square-grey {
  margin-right: 10px;
}

.box_general {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background-color: #fff;
  padding: 45px;
  border: 1px solid #d9e1e6;
}
@media (max-width: 991px) {
  .box_general {
    padding: 30px;
  }
}

input#website {
  display: none;
}

#wizard_container {
  position: relative;
  min-height: 450px;
}

/* Wizard Buttons*/
button.backward,
button.forward,
button.submit {
  border: none;
  color: #fff;
  padding: 7px 20px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  outline: none;
  min-width: 110px;
  text-align: center;
  background: #409fff;
  position: relative;
  font-size: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 1;
  padding: 10px 30px 10px 30px;
}

button.backward {
  color: #333;
  background: #e8e8e8;
  padding: 10px 20px 10px 30px;
}

button.forward,
button.submit {
  padding: 10px 30px 10px 20px;
}

button[disabled] {
  display: none;
}

button.backward:before {
  content: "\34";
  font-family: 'ElegantIcons';
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 18px;
}

button.forward:before {
  content: "\35";
  font-family: 'ElegantIcons';
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 18px;
}

button.submit:before {
  content: "\4e";
  font-family: 'ElegantIcons';
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 18px;
}

.backward:hover,
.forward:hover {
  background: #0073e5;
  color: #fff;
}

#middle-wizard {
  padding: 30px 0 15px 0;
}

#bottom-wizard {
  padding: 30px 0 45px 0;
  text-align: center;
}

.ui-widget-content a {
  color: #222222;
}

.ui-widget-header {
  background: #6C3;
}

.ui-widget-header a {
  color: #222222;
}

.ui-progressbar {
  height: 3px;
  width: 100%;
  position: relative;
  top: -1px;
  z-index: 2;
}

.ui-progressbar .ui-progressbar-value {
  height: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/*-------- 2.2 Success submit --------*/
#success {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 150px;
  margin-top: -120px;
  margin-left: -195px;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 45px;
  border: 1px solid #d9e1e6;
  box-sizing: content-box;
}

#success h4 {
  margin: 0;
}

#success h4 span {
  display: block;
  font-size: 24px;
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
.inlinesvg .svg svg {
  display: inline;
}

.icon--order-success svg path {
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation: checkmark 0.25s ease-in-out 0.7s backwards;
}

.icon--order-success svg circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
  animation: checkmark-circle 0.6s ease-in-out backwards;
}

/*-------- 2.3 Inner pages --------*/
.hero_in {
  text-align: center;
  height: 275px;
  border-bottom: 1px solid #d9e1e6;
  position: relative;
}
.hero_in.shortcodes {
  background: #edfeff url(../img/shortcodes_bg.svg) no-repeat center bottom;
}
.hero_in.about {
  background: #edfeff url(../img/about_bg.svg) no-repeat center bottom;
}
.hero_in div {
  left: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.hero_in h1 {
  background-color: #2ab6fb;
  margin: 0;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1;
}

/* About */
.box_feat {
  background-color: #fff;
  padding: 40px 35px 5px 35px;
  text-align: center;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0;
  margin-bottom: 25px;
  color: #777;
}
.box_feat h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.125rem;
  color: #f5ab35;
  font-weight: bold;
}

.about_info {
  padding-left: 75px;
  position: relative;
}
@media (max-width: 767px) {
  .about_info {
    padding-left: 0;
  }
}
.about_info h4 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: bold;
}
.about_info h4 span {
  display: block;
  font-weight: 400;
}
.about_info i {
  font-size: 60px;
  color: #1c5dab;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 767px) {
  .about_info i {
    display: none;
  }
}

.widget {
  border-bottom: 1px solid #e8ebed;
  margin-bottom: 25px;
}
.widget h4 {
  font-size: 21px;
  font-size: 1.3125rem;
}
.widget.last {
  border-bottom: none;
}
.widget ul {
  list-style: none;
  padding: 0;
  margin: 0 0 25px 0;
}
.widget.last#follow ul li a {
  color: #333;
}
.widget.last#follow ul li a i {
  color: #409fff;
  margin-right: 5px;
  font-size: 18px;
}
.widget.last#follow ul li a:hover {
  color: #409fff;
  text-decoration: none;
}
.widget#gallery ul li {
  display: inline-block;
  width: 65px;
  height: 65px;
  overflow: hidden;
  margin-right: 3px;
}
.widget#gallery ul li figure img {
  width: 65px;
  height: auto;
}

blockquote.testimonial {
  background: #fff;
  border-radius: 5px;
  border: 0;
  font-family: Georgia, serif;
  font-style: italic;
  margin: 0;
  padding: 20px;
  position: relative;
}
blockquote.testimonial p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  margin-bottom: 0;
}

.testimonial-arrow-down {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  height: 0;
  margin: 0 0 0 25px;
  width: 0;
}

.testimonial-author {
  margin: 8px 0 0 8px;
}
.testimonial-author .img-thumbnail {
  float: left;
  margin-right: 10px;
}
.testimonial-author .img-thumbnail img {
  max-width: 60px;
}
.testimonial-author strong {
  color: #111;
  display: block;
  padding-top: 7px;
}
.testimonial-author span {
  color: #666;
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
}
.testimonial-author p {
  color: #999;
  margin: 0 0 0 25px;
  text-align: left;
}

/* Soom effect magnic gallery */
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Contact */
#map_contact {
  width: 100%;
  height: 450px;
  border-bottom: 1px solid #d9e1e6;
}
@media (max-width: 991px) {
  #map_contact {
    height: 350px;
  }
}

.box_contact {
  position: relative;
  padding-left: 60px;
  box-sizing: content-box;
  margin-bottom: 25px;
}
.box_contact i {
  font-size: 42px;
  font-size: 2.625rem;
  color: #3f9fff;
  position: absolute;
  left: 0;
  top: 0;
}
.box_contact h4 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 400;
}

/*============================================================================================*/
/* 3.  COMMON */
/*============================================================================================*/
/*-------- 3.1 Input forms --------*/
.styled-select {
  width: 100%;
  overflow: hidden;
  height: 44px;
  background: #fff url(../img/arrow_down.svg) no-repeat right center;
  border: 1px solid #d9e1e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.styled-select select {
  background: transparent;
  width: 107%;
  padding: 5px 5px 5px 15px;
  border: 0;
  height: 41px;
  color: #999;
  margin: 0;
  font-weight: 400;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-size: 1rem;
}
.styled-select select:focus {
  color: #555;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.styled-select select::-ms-expand {
  display: none;
}
.styled-select select::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.styled-select select::-webkit-input-placeholder {
  color: #999;
}

input.form-control,
select.form-control,
textarea.form-control {
  background: none;
  background-color: #fff;
  border: 1px solid #d9e1e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #999;
  height: 44px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 25px;
  padding: 6px 10px 6px 15px;
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
  border-color: #409fff;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #555;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #195196;
  background-color: rgba(28, 93, 171, 0.03);
}

span.error {
  font-size: 12px;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  top: -20px;
  left: 15px;
  z-index: 2;
  height: 25px;
  line-height: 1;
  background-color: #e34f4f;
  color: #fff;
  font-weight: normal;
  display: inline-block;
  padding: 6px 8px;
}
span.error:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 6px 6px 0;
  border-color: transparent #e34f4f;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -6px;
  left: 20%;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}
.form-group span.error {
  left: -5px;
  top: -35px;
}
.form-group .icheckbox_square-grey {
  margin-right: 10px;
}
.form-group.short {
  margin-bottom: 10px;
}

/*Quantity incrementer input */
.qty-buttons {
  position: relative;
  width: 100%;
  height: 38px;
  display: inline-block;
}

input.qty {
  width: 100%;
}

input.qtyminus,
input.qtyplus {
  position: absolute;
  width: 35px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-indent: -9999px;
  top: 2px;
}

input.qtyplus {
  background: url(../img/plus.svg) no-repeat center center;
  right: 35px;
}

input.qtyminus {
  background: url(../img/minus.svg) no-repeat center center;
  right: 5px;
}

/* Rounder range slider */
.rounded_slider {
  text-align: center;
}
.rounded_slider p {
  margin-bottom: 0;
  color: #777;
}

.rs-tooltip-text {
  font-family: "Roboto Condensed", Arial, sans-serif !important;
  font-weight: bold;
  font-size: 28px !important;
  font-size: 28px !important/16pxrem;
  color: #333;
}
.rs-tooltip-text:before {
  content: '$';
}

/*** handle types ***/
.rs-handle-dot {
  border: 1px solid #ccc !important;
  padding: 6px;
}
.rs-handle-dot:after {
  border: 1px solid #fff !important;
}

/*** theming - colors ***/
.rs-seperator {
  border: 1px solid #AAAAAA;
}

.rs-border {
  border: 1px solid #fff !important;
}

.rs-path-color {
  background-color: #f4f9ed !important;
}

.rs-range-color {
  background-color: #8ec549 !important;
}

.rs-bg-color {
  background-color: #FFFFFF;
}

.rs-handle {
  background-color: #fff !important;
}

.rs-handle-dot {
  background-color: #FFFFFF;
}

.rs-handle-dot:after {
  background-color: #333 !important;
}

/*-------- 3.2 Spacing --------*/
.add_bottom_15 {
  margin-bottom: 15px;
}

.add_bottom_30 {
  margin-bottom: 30px;
}

.add_bottom_45 {
  margin-bottom: 45px;
}

.add_bottom_60 {
  margin-bottom: 60px;
}

.add_bottom_75 {
  margin-bottom: 75px;
}

.add_top_10 {
  margin-top: 10px;
}

.add_top_15 {
  margin-top: 15px;
}

.add_top_20 {
  margin-top: 20px;
}

.add_top_30 {
  margin-top: 30px;
}

.add_top_60 {
  margin-top: 60px;
}

.more_padding_left {
  padding-left: 40px;
}
@media (max-width: 767px) {
  .more_padding_left {
    padding-left: 0;
  }
}

.nomargin_top {
  margin-top: 0;
}

.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.margin_60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.margin_60_35 {
  padding-top: 60px;
  padding-bottom: 35px;
}
@media (max-width: 575px) {
  .margin_60_35 {
    padding-top: 30px;
    padding-bottom: 5px;
  }
}

.margin_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .margin_120 {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media (max-width: 575px) {
  .margin_120 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.margin_120_95 {
  padding-top: 120px;
  padding-bottom: 95px;
}
@media (max-width: 991px) {
  .margin_120_95 {
    padding-top: 60px;
    padding-bottom: 35px;
  }
}
@media (max-width: 575px) {
  .margin_120_95 {
    padding-top: 30px;
    padding-bottom: 5px;
  }
}

.margin_120_0 {
  padding-top: 120px;
}
@media (max-width: 991px) {
  .margin_120_0 {
    padding-top: 60px;
  }
}
@media (max-width: 575px) {
  .margin_120_0 {
    padding-top: 30px;
  }
}

.margin_30_95 {
  padding-top: 30px;
  padding-bottom: 95px;
}
@media (max-width: 991px) {
  .margin_30_95 {
    padding-top: 15px;
    padding-bottom: 35px;
  }
}
@media (max-width: 575px) {
  .margin_30_95 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .hidden_tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden_mobile {
    display: none !important;
  }
}
